@using ASP_Project.Areas.Identity.Data.Models;
@model IEnumerable<ProductVariation>

@{
    ViewData["Title"] = "Product Variations";
    var productImages = ViewBag.ProductImages as List<ProductImage>;
}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/productIndex.css" />
</head>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product Variation List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ProductVariation" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Product Variation
            </a>
        </div>
        
         <div class="col-6 text-end">
                    <a asp-controller="SubProductVariation" asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> &nbsp; Sub Product Variation
                    </a></div>
    </div>
    <br /><br />
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th style="text-align: center;">Name</th>
                
                <th style="text-align: center;">Color</th>
                
                <th style="text-align: center;">Product</th>
                <th style="text-align: center;">Images</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="15%">
                        @item.Name
                    </td>
                    @* <td width="20%"> *@
                    @*     @item.Price *@
                    @* </td> *@
                    @* <td width="10%"> *@
                    @*     @item.Size *@
                    @* </td> *@
                    <td width="10%">
                        @item.Color
                    </td>
                    @* <td width="10%"> *@
                    @*     @item.Quantity *@
                    @* </td> *@
                    @* <td width="10%"> *@
                    @*     @item.Discount *@
                    @* </td> *@
                    <td width="10%">
                        @item.Product.Make
                    </td>
                    <td class="td td-img">
                        <div>
                            <img class="img" alt="Product Image" src="data:image/jpeg;base64,@Convert.ToBase64String(item.ProductImages.First().ImageData!)" />
	                    </div>
                    </td>
                    <td width="15%">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="ProductVariation" asp-action="Edit" asp-route-id="@item.Id"
                                class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                        @*     <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" *@
                        @*         class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a> *@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
